body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
  }
  
  #btn-enviar:hover{
    box-shadow: 3px 0px 30px red;
  }
  .tarjetas:hover{
    cursor:default;
    transform: scale(1.05);
    transition: all 0.3s;
  }

  footer {
    background: #000000;
  
    
    bottom: 0;
  }
 
@media all and (max-width:767px){
  .banner{
      height: 250px;
      object-fit: cover;
  }
}